.contact-section {
  background-color: var(--white);
  width: 100%;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
  margin-top: 1%;
}

@media screen and (min-width: 861px) {
  .contact-section {
    max-width: 1400px;
    width: 80vw;
    height: auto;
    margin: 0 auto;
    margin-top: 1%;
    top: var(--offset-height);
    margin-bottom: var(--offset-height);
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15);
  }
}
